<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<!-- <meta http-equiv="X-UA-Compatible" content="IE=edge" /> -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Shared Todos</title>
		<link rel="stylesheet" href="css/style.css" />
	</head>
	<body>
		<h1>Shared Lists</h1>
		<ul>
			<% lists.forEach( el => { %>
			<li class="listName" data-id="<%=el.listName%>">
				<a href="/listId" class="list"><%= el.listName %></a> 
				<span class="del"> Delete </span>
			</li>
			<% }) %>
		</ul>

		<form action="/lists/createList" method="POST">
			<input type="text" placeholder="Enter a new List" name="listName" />
			<input type="submit" value="Create" />
		</form>
	</br>
		<a href="/logout">Logout</a>
		<a href="/todos">Todos</a>

		<script src="js/lists.js"></script>
	</body>
</html>
